.marca img{
	border-radius: 60px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	}

/**.marca img:hover{ background-color: transparent; z-index: 50; }
.marca img span{ /* Estilos para la imagen agrandada s position: absolute; background-color: black; padding: 5px; left: -100px; border: 5px double gray; visibility: hidden; color: #ffffff; text-decoration: none; }
/**.marca img span img{ border-width: 0; padding: 2px; }
/**.marca img:hover span{ visibility: visible; top: -100; left: 0px; }**/


.producto img{
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

.flash-msg{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 10000;
}

.img-pedidos{
	height: 60px;
}

.remove{
	color: #000000;
	font-size: 1.3em;
}

.remove:hover{
	color: #000000;
}

.tr{
	text-align: right;
}

.total{
	font-size: 20px;
	font-weight: bold;
}

